body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}
/*Celular 480x854*/
@media screen and (max-device-width: 600px) {
    

    }


/* tablet 960x540*/
@media screen and (min-width: 601px) and (max-width: 1000px) {
    

    
}

/* meu pc*/
@media screen and (min-width: 1001px){
    *{
        border: 0;
    }
    .titulo{
        font-size: 5em;
        text-align: center;
        color: #f1ecdf;
    }
    .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f58723;
        height: 100%;
    }
    nav{
        width: 80vh;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    nav a{
        color: #f1ecdf;
        text-decoration: none;
        font-size: 2em;
        margin-left: 150px;
        transition-duration: 0.5s;

    }
    nav a:hover{
        transition-duration: 0.5s;
        cursor:pointer;
        color: linear-gradient(to right, #0fd850 0%, #f9f047 100%,);
    }

    .text{

    }


    .logoum{
        width: 50px;
    }
    .logodois{
        width: 25px;
    }



}
/*.color1 { #f1ecdf };
.color2 { #d4c9ad };
.color3 { #c7ba99 };
.color4 { #000000 };
.color5 { #f58723 }; */